.About {
    background-color: #96281B;
    color: #fff;
    width: 600px;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Use transform to center the element */
    border-radius: 5px;
}

.About button {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    margin-left: 500px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .About {
        width: 96%;
        top: 55%;
        padding: 12px;
        font-size: 0.8rem;
    }

    .About button {
        margin-left: 90%;
    }
 }

 @media (max-width: 400px) {
    .About p {
        font-size: 0.9rem;
    }
 }
 

 @media (max-width: 340px) {
    .About {
        width: 92%;
        padding: 10px;
    }

    .About p {
        font-size: 0.78rem;
    }

    .About button {
        font-size: 1.6rem;
    }
 }