.Endgame {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Use fixed instead of absolute */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Use transform to center the element */
    font-size: 2rem;
}

.Endgame button {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
}