td {
    border: 8px solid #fff;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
    user-select: none;
}

.X {
    border: 8px solid #7a1d13;
}

table {
    border-collapse: collapse;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Use transform to center the element */
    color: #fff;
}

table tr:first-child td {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    border-left: none;
}

table tr td:last-child {
    border-right: none;
}

@media (max-width: 500px) {
    td {
        height: 60px;
        width: 60px;
        font-size: 40px;
    }


}

@media (max-width: 340px) {
    td {
        height: 50px;
        width: 50px;
        font-size: 48px;
    }

}