.App {
    height: 100vh;

}

.App-logo {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -200px;
}

.App-about-btn {
    background: none;
    border: none;
    color: #96281B;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -52px;
    cursor: pointer;
}
