.App {
    height: 100dvh;
    background-image: url(./minimaxWallpaper.png);
    background-size: cover;
    background-position: center;
}


.App-logo {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -200px;
}

.Switches {
    position: absolute;
    right: 24px;
    top: 24px;
}

.GameContainer{
    height: 100dvh;
    background-image: url(./minimaxMoon.png);
    background-size: cover;
    background-position: center;
}

.App-about-btn {
    background: none;
    border: none;
    color: #96281B;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -52px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.App-about-btn:hover {
    transform: scale(1.2);
}

.darioLogo {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.darioLogo img {
    height: 80px;
    transition: all 0.1s ease-in-out;
}

.darioLogo img:hover {
    transform: scale(1.2);
}

@media (max-width: 900px) {
    .Switches {
        top: 84px;
    }
}

@media (max-width: 500px) {
    .App-logo {
        width: 200px;
        margin-left: -100px;
    }
    .Switches {
        top: 64px;
    }
}

@media (max-width: 340px) {
    .Switches {
        top: 52px;
    }
}