body {
  margin: 0;
  
}

@font-face {
  font-family: "RO twimch";
  src: local("RO twimch"),
    url("./fonts/RoTwimchRegular-WyR3n.ttf") format("truetype");
    font-weight: regular;
}

.font-face-gm {
  font-family: "RO twimch";
}

